- if orders.any? && orders.try(:total_pages).present?
  %nav
    %ul.pagination
      %li= hidden_field_tag 'total_pages', orders.total_pages
      %li.left-arrow
        - if orders.current_page.present? && orders.current_page > 1
          = link_to orders_path(search: params[:search], filter: params[:filter], page: orders.current_page-1), aria: {label: "Previous"} do
            %span{"aria-hidden"=> "true"}
              &laquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &laquo;

      - (1..orders.total_pages).each do |page|
        %li{class: "#{"active" if page == orders.current_page}"}= link_to page.to_s, orders_path(search: params[:search], filter: params[:filter], page: page), value: page
      %li.right-arrow
        - if orders.try(:current_page).present? && orders.current_page < orders.total_pages
          = link_to orders_path(search: params[:search], filter: params[:filter], page: orders.current_page+1), aria: {label: "Next"} do
            %span{"aria-hidden"=> "true"}
              &raquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &raquo;
