= link_to 'Home', legal_health_scores_path
%hr
= link_to 'Customers', legal_health_customers_path
%br
= link_to 'Topics', legal_health_topics_path
%br
= link_to 'Params', legal_health_params_path
%hr
