- if members.any? && members.try(:total_pages).present?
  %nav
    %ul.pagination
      %li= hidden_field_tag 'total_pages', members.total_pages
      %li.left-arrow
        - if members.current_page.present? && members.current_page > 1
          = link_to members_path(search: params[:search], filter: params[:filter], 'filter-data': params['filter-data'], sort: params[:sort], order: params[:order], page: members.current_page-1), aria: {label: "Previous"} do
            %span{"aria-hidden"=> "true"}
              &laquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &laquo;

      - (1..members.total_pages).each do |page|
        %li{class: "#{"active" if page == members.current_page}"}= link_to page.to_s, members_path(search: params[:search], filter: params[:filter], 'filter-data': params['filter-data'], sort: params[:sort], order: params[:order], page: page), value: page
      %li.right-arrow
        - if members.try(:current_page).present? && members.current_page < members.total_pages
          = link_to members_path(search: params[:search], filter: params[:filter], 'filter-data': params['filter-data'], sort: params[:sort], order: params[:order], page: members.current_page+1), aria: {label: "Next"} do
            %span{"aria-hidden"=> "true"}
              &raquo;
        - else
          %a
            %span{"aria-hidden"=> "true"}
              &raquo;
